body{
    background-color: #ddd;
}
.container {
    margin:0 auto;
    width:960px;
    font-size: 100%;
    line-height: 1.5;
}
h3{
    margin-top: 5px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
section{
    background-color: white;
    border: 2px solid black;
}
/* The width of each section is dependant on the content inside which are the <img>, the browser will set a default width based on that. */
